<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forum Layout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="stylesheet" href="bootstrap-3.3.7/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>

    <nav class="navbar navbar-inverse" style="border-radius:0px; z-index:2; position:fixed; width:100%;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="padding:0px;">
            <img src="logo2.png" style="height:100%;">
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
      </div>
    </nav>
    

    <div class="container" style="padding: 6%; z-index: 1;">
      <div class="row">

        <div class="col-lg-3">

          <div class="panel panel-default">

            <div class="panel-heading" style="padding-top: 3%; padding-bottom:  5%;">
              <div class="col-lg-3">
                <img src="https://scontent.fmnl3-2.fna.fbcdn.net/v/t1.0-9/10523561_10203263504898679_14334644979234152_n.jpg?_nc_cat=0&_nc_eui2=AeFRuD7DNykfoQipglQK-ESkOaQLmIhMglZ6OQgqVgFQ3s1b-4dzeSaSxJdBne3QAZpSSlkn2l5PJaj-h2WAKhiqGybXZW_wRYVImZkHFWIGkjji27X1OhmUExqF5NViw70&oh=2b88589d05f5d4220af404169e9832a7&oe=5BB9EE8D" style="width:100%;">
              </div>
              <div class="cl-lg-9">
                <span style="font-weight:bold;">Juan dela Cruz</span>
              </div>
            </div>

                <div class="panel-body">
                  <button type="button" class="btn btn-default" style="width:100%;border-radius:0px;">
                    Link 1
                  </button>
                  <button type="button" class="btn btn-default" style="width:100%;border-radius:0px;">
                    Link 2
                  </button>
                  <button type="button" class="btn btn-default" style="width:100%;border-radius:0px;">
                    Link 3
                  </button>
                  <button type="button" class="btn btn-default" style="width:100%;border-radius:0px;">
                    Link 4
                  </button>                
                </div>
            </div>

          </div>

        <div class="col-lg-9">
            <div class="panel panel-default" style="box-shadow: 0 0 15px 1px #80808082;">
                
              <div class="panel-heading" style="background-color: #e4dcdc;">
                <div class="row">
                    <div class="col-lg-1">
                      <img src="https://scontent.fmnl3-2.fna.fbcdn.net/v/t1.0-9/10523561_10203263504898679_14334644979234152_n.jpg?_nc_cat=0&_nc_eui2=AeFRuD7DNykfoQipglQK-ESkOaQLmIhMglZ6OQgqVgFQ3s1b-4dzeSaSxJdBne3QAZpSSlkn2l5PJaj-h2WAKhiqGybXZW_wRYVImZkHFWIGkjji27X1OhmUExqF5NViw70&oh=2b88589d05f5d4220af404169e9832a7&oe=5BB9EE8D" style="width:100%;">
                    </div>
                    <div class="cl-lg-11">
                      <span style="font-weight:bold;">Juan dela Cruz</span>
                    </div>
                </div>
              </div>

              <div class="panel-body">
                <textarea class="form-control" rows="4" id="post" placeholder="Some phrase here....."></textarea>  
              </div>

              <div class="panel-footer" style="padding: 1%;">
                <button type="button" class="btn btn-primary" style="margin-left:89%; width:10%;">post</button>
              </div>

            </div>

            <div class="panel panel-default" style="box-shadow: 0 0 15px 1px #80808082;">
                
                <div class="panel-heading" style="background-color: #e4dcdc;">
                  <div class="row">
                    <div class="col-lg-1">
                      <img src="https://scontent.fmnl3-2.fna.fbcdn.net/v/t1.0-9/10523561_10203263504898679_14334644979234152_n.jpg?_nc_cat=0&_nc_eui2=AeFRuD7DNykfoQipglQK-ESkOaQLmIhMglZ6OQgqVgFQ3s1b-4dzeSaSxJdBne3QAZpSSlkn2l5PJaj-h2WAKhiqGybXZW_wRYVImZkHFWIGkjji27X1OhmUExqF5NViw70&oh=2b88589d05f5d4220af404169e9832a7&oe=5BB9EE8D" style="width:100%;">
                    </div>
                    <div class="cl-lg-11">
                      <span style="font-weight:bold;">Juan dela Cruz</span>
                      <br>
                      <span style="font-size:12px;">July 27, 1914 9:47am</span>
                    </div>
                  </div>
                </div>
  
                <div class="panel-body">
                  ako ay may lobo lumipad sa langit, di ko na nakita,
                  pumutok na pala, sayang ang pera ko binili ng lobo sa pagkain sana nabusog pa ako  
                </div>
                
              </div>


              <div class="panel panel-default" style="box-shadow: 0 0 15px 1px #80808082;">
                
                <div class="panel-heading" style="background-color: #e4dcdc;">
                  <div class="row">
                    <div class="col-lg-1">
                      <img src="https://scontent.fmnl3-2.fna.fbcdn.net/v/t1.0-9/10523561_10203263504898679_14334644979234152_n.jpg?_nc_cat=0&_nc_eui2=AeFRuD7DNykfoQipglQK-ESkOaQLmIhMglZ6OQgqVgFQ3s1b-4dzeSaSxJdBne3QAZpSSlkn2l5PJaj-h2WAKhiqGybXZW_wRYVImZkHFWIGkjji27X1OhmUExqF5NViw70&oh=2b88589d05f5d4220af404169e9832a7&oe=5BB9EE8D" style="width:100%;">
                    </div>
                    <div class="cl-lg-11">
                      <span style="font-weight:bold;">Juan dela Cruz</span>
                      <br>
                      <span style="font-size:12px;">July 27, 1914 9:47am</span>
                    </div>
                  </div>
                </div>
  
                <div class="panel-body">
                  ako ay may lobo lumipad sa langit, di ko na nakita,
                  pumutok na pala, sayang ang pera ko binili ng lobo sa pagkain sana nabusog pa ako  
                </div>
                  
              </div>


              <div class="panel panel-default" style="box-shadow: 0 0 15px 1px #80808082;">

                <div class="panel-heading" style="background-color: #e4dcdc;">
                  <div class="row">
                    <div class="col-lg-1">
                      <img src="https://scontent.fmnl3-2.fna.fbcdn.net/v/t1.0-9/10523561_10203263504898679_14334644979234152_n.jpg?_nc_cat=0&_nc_eui2=AeFRuD7DNykfoQipglQK-ESkOaQLmIhMglZ6OQgqVgFQ3s1b-4dzeSaSxJdBne3QAZpSSlkn2l5PJaj-h2WAKhiqGybXZW_wRYVImZkHFWIGkjji27X1OhmUExqF5NViw70&oh=2b88589d05f5d4220af404169e9832a7&oe=5BB9EE8D" style="width:100%;">
                    </div>
                    <div class="cl-lg-11">
                      <span style="font-weight:bold;">Juan dela Cruz</span>
                      <br>
                      <span style="font-size:12px;">July 27, 1914 9:47am</span>
                    </div>
                  </div>
                </div>
  
                <div class="panel-body">
                  ako ay may lobo lumipad sa langit, di ko na nakita,
                  pumutok na pala, sayang ang pera ko binili ng lobo sa pagkain sana nabusog pa ako  
                </div>
                  
              </div>

              
              <div class="panel panel-default">
                <div class="panel-heading">
                  <button type="button" class="btn btn-default" style="width:100%; text-align:center;">
                    Show more posts
                  </button>
                </div>
              </div>
        </div>
  
      </div>      
    </div>
    


  </body>
</html>