<!DOCTYPE html>
<html>
<title>NUMBERS</title>
<link rel="shortcut icon" href="static/images/PATicon.png" />
<meta charset="UTF-8"><link rel="stylesheet" href="static/css/w3.css">
<link rel="stylesheet" href="static/css/font.css">
<link rel="stylesheet" href="static/css/font-awesome.css">
<link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="static/bootstrap/css/bootstrap-grid.css">
<link rel="stylesheet" href="static/bootstrap/css/bootstrap-reboot.css">
<link rel="stylesheet" href="static/bootstrap/js/bootstrap.bundle.js">
<link rel="stylesheet" href="static/bootstrap/js/bootstrap.js">
<link rel="stylesheet" href="static/css/agency.min.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-quarter img{margin-bottom: -6px; cursor: pointer}
.w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
</style>
<body class="w3-light-grey">


<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-white w3-xlarge w3-padding-16">
  <span class="w3-left w3-padding">
  <img src="static/EDUCATIONAL/numbers.png" alt="logo" width="30px" height="auto"/>NUMBERS</span>
  <a href="/educational"><span style="float: right; padding-top:15px; padding-right: 5px; font-size:90%;">Back</span></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content" style="max-width:1600px;margin-top:83px">

  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>
  <!-- FOOD -->
  <div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="food">
    <div class="w3-quarter hover">
        <img src="static/EDUCATIONAL/NUMBERS/0.png" style="width:100%" id="A" onclick="onClick(this);document.getElementById('0_play').play();return false;" alt="A">
        <img src="static/EDUCATIONAL/NUMBERS/4.png" style="width:100%" id="E" onclick="onClick(this);document.getElementById('4_play').play();return false;" alt="E">
        <img src="static/EDUCATIONAL/NUMBERS/8.png" style="width:100%" id="I" onclick="onClick(this);document.getElementById('8_play').play();return false;" alt="I">
        <img src="static/EDUCATIONAL/NUMBERS/12.png" style="width:100%" id="M" onclick="onClick(this);document.getElementById('12_play').play();return false;" alt="M">
        <img src="static/EDUCATIONAL/NUMBERS/16.png" style="width:100%" id="Q" onclick="onClick(this);document.getElementById('16_play').play();return false;" alt="Q">
        <img src="static/EDUCATIONAL/NUMBERS/20.png" style="width:100%" id="U" onclick="onClick(this);document.getElementById('20_play').play();return false;" alt="U">
        <img src="static/EDUCATIONAL/NUMBERS/24.png" style="width:100%" id="Y" onclick="onClick(this);document.getElementById('24_play').play();return false;" alt="Y">
        <img src="static/EDUCATIONAL/NUMBERS/28.png" style="width:100%" id="Y" onclick="onClick(this);document.getElementById('28_play').play();return false;" alt="Y">
   </div>

   <div class="w3-quarter hover">
      <img src="static/EDUCATIONAL/NUMBERS/1.png" style="width:100%" id="B" onclick="onClick(this);document.getElementById('1_play').play();return false;" alt="B">
      <img src="static/EDUCATIONAL/NUMBERS/5.png" style="width:100%" id="F" onclick="onClick(this);document.getElementById('5_play').play();return false;" alt="F">
      <img src="static/EDUCATIONAL/NUMBERS/9.png" style="width:100%" id="J" onclick="onClick(this);document.getElementById('9_play').play();return false;" alt="J">
      <img src="static/EDUCATIONAL/NUMBERS/13.png" style="width:100%" id="N" onclick="onClick(this);document.getElementById('13_play').play();return false;" alt="N">
      <img src="static/EDUCATIONAL/NUMBERS/17.png" style="width:100%" id="R" onclick="onClick(this);document.getElementById('17_play').play();return false;" alt="R">
      <img src="static/EDUCATIONAL/NUMBERS/21.png" style="width:100%" id="V" onclick="onClick(this);document.getElementById('21_play').play();return false;" alt="V">
      <img src="static/EDUCATIONAL/NUMBERS/25.png" style="width:100%" id="Z" onclick="onClick(this);document.getElementById('25_play').play();return false;" alt="Z">
      <img src="static/EDUCATIONAL/NUMBERS/29.png" style="width:100%" id="Y" onclick="onClick(this);document.getElementById('29_play').play();return false;" alt="Y">

    </div>

    <div class="w3-quarter hover">
      <img src="static/EDUCATIONAL/NUMBERS/2.png" style="width:100%" id="C" onclick="onClick(this);document.getElementById('2_play').play();return false;" alt="C">
      <img src="static/EDUCATIONAL/NUMBERS/6.png" style="width:100%" id="G" onclick="onClick(this);document.getElementById('6_play').play();return false;" alt="G">
      <img src="static/EDUCATIONAL/NUMBERS/10.png" style="width:100%" id="K" onclick="onClick(this);document.getElementById('10_play').play();return false;" alt="K">
      <img src="static/EDUCATIONAL/NUMBERS/14.png" style="width:100%" id="O" onclick="onClick(this);document.getElementById('14_play').play();return false;" alt="O">
      <img src="static/EDUCATIONAL/NUMBERS/18.png" style="width:100%" id="S" onclick="onClick(this);document.getElementById('18_play').play();return false;" alt="S">
      <img src="static/EDUCATIONAL/NUMBERS/22.png" style="width:100%" id="W" onclick="onClick(this);document.getElementById('22_play').play();return false;" alt="W">
      <img src="static/EDUCATIONAL/NUMBERS/26.png" style="width:100%" id="W" onclick="onClick(this);document.getElementById('26_play').play();return false;" alt="W">
      <img src="static/EDUCATIONAL/NUMBERS/30.png" style="width:100%" id="Y" onclick="onClick(this);document.getElementById('30_play').play();return false;" alt="Y">
    </div>

    <div class="w3-quarter hover">
      <img src="static/EDUCATIONAL/NUMBERS/3.png" style="width:100%" id="C" onclick="onClick(this);document.getElementById('3_play').play();return false;" alt="D">
      <img src="static/EDUCATIONAL/NUMBERS/7.png" style="width:100%" id="H" onclick="onClick(this);document.getElementById('7_play').play();return false;" alt="H">
      <img src="static/EDUCATIONAL/NUMBERS/11.png" style="width:100%" id="L" onclick="onClick(this);document.getElementById('11_play').play();return false;" alt="L">
      <img src="static/EDUCATIONAL/NUMBERS/15.png" style="width:100%" id="P" onclick="onClick(this);document.getElementById('15_play').play();return false;" alt="P">
      <img src="static/EDUCATIONAL/NUMBERS/19.png" style="width:100%" id="T" onclick="onClick(this);document.getElementById('19_play').play();return false;" alt="T">
      <img src="static/EDUCATIONAL/NUMBERS/23.png" style="width:100%" id="X" onclick="onClick(this);document.getElementById('23_play').play();return false;" alt="X">
      <img src="static/EDUCATIONAL/NUMBERS/27.png" style="width:100%" id="W" onclick="onClick(this);document.getElementById('27_play').play();return false;" alt="W">
    </div>

    <!--<div class="w3-quarter">-->
      <!--<img src= "{{ url_for('static', filename='image_name' ) }}">-->
      <!--</div>-->

    <audio id="0_play">
    <source src="static/audio/0.mp3"/>
    </audio>
    <audio id= "1_play">
    <source src="static/audio/1.mp3" />
    </audio>
    <audio id="2_play">
    <source src="static/audio/2.mp3" />
    </audio>
    <audio id="3_play">
    <source src="static/audio/3.mp3"/>
    </audio>
    <audio id="4_play">
    <source src="static/audio/4.mp3" />
    </audio>
    <audio id="5_play">
    <source src="static/audio/5.mp3" />
    </audio>
    <audio id="6_play">
    <source src="static/audio/6.mp3"/>
    </audio>
    <audio id="7_play">
    <source src="static/audio/7.mp3"/>
    </audio>
    <audio id="8_play">
    <source src="static/audio/8.mp3"/>
    </audio>
    <audio id="9_play">
    <source src="static/audio/9.mp3" />
    </audio>
    <audio id="10_play">
    <source src="static/audio/10.mp3"/>
    </audio>
    <audio id="11_play">
    <source src="static/audio/11.mp3"/>
    </audio>
    <audio id="12_play">
    <source src="static/audio/12.mp3" />
    </audio>
    <audio id="13_play">
    <source src="static/audio/13.mp3" />
    </audio>
    <audio id="14_play">
    <source src="static/audio/14.mp3" />
    </audio>
    <audio id="15_play">
    <source src="static/audio/15.mp3" />
    </audio>
    <audio id="16_play">
    <source src="static/audio/16.mp3" />
    </audio>
    <audio id="17_play">
    <source src="static/audio/17.mp3" />
    </audio>
    <audio id="18_play">
    <source src="static/audio/18.mp3" />
    </audio>
    <audio id="19_play">
    <source src="static/audio/19.mp3" />
    </audio>
    <audio id="20_play">
    <source src="static/audio/20.mp3" />
    </audio>
    <audio id="21_play">
    <source src="static/audio/21.mp3" />
    </audio>
    <audio id="22_play">
    <source src="static/audio/22.mp3" />
    </audio>
    <audio id="23_play">
    <source src="static/audio/23.mp3" />
    </audio>
    <audio id="24_play">
    <source src="static/audio/24.mp3" />
    </audio>
    <audio id="25_play">
    <source src="static/audio/25.mp3" />
    </audio>
    <audio id="26_play">
    <source src="static/audio/26.mp3" />
    </audio>
    <audio id="27_play">
    <source src="static/audio/27.mp3" />
    </audio>
    <audio id="28_play">
    <source src="static/audio/28.mp3" />
    </audio>
    <audio id="29_play">
    <source src="static/audio/29.mp3" />
    </audio>
    <audio id="30_play">
    <source src="static/audio/30.mp3" />
    </audio>

  </div>

    <!--<center><<button type="submit" href="edit_food.html">Edit</button></center>-->


<!-- End page content -->
</div>

<script>

function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

</script>

 <script src="jQuery-2.1.4.min.js"></script>
 <script src="../static/js/app.js"></script>


</body>
</html>