body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(background.png);*/
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    font-family: "Times New Roman", Georgia, Serif;
}

input {
    width: 250px;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 12px 20px 12px 40px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: whitesmoke;
}


button {
    background-color: white;
    border: 2px solid steelblue;
    color: black;
    padding:15px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}   

button:hover {
    background-color: lightblue;
    color: white;
}




//from class2

input[type=text] {
    width: 90%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

/*input[type=text]:focus {
    border: 3px solid #555;
}*/



input[type=button] {
    background-color: white;
    border: 2px solid steelblue;
    color: black;
    padding:15px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}   

input[type=button]:hover {
    background-color: lightblue;
    color: white;
}