<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Enrollment Form</title>
    <script src="static/js/enroll1.js"> </script>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/class.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/enroll_home.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/menubar.css') }}">
<style>
* {
  box-sizing: border-box;
}
body {
  font: 16px Arial;  
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
</style>

</head>

<body>

        <div class="w3-container w3-top w3-white w3-xlarge w3-padding-16">
        <span class="w3-left w3-padding">
        <img src="PATicon.png" alt="logo" width="40px" height="auto"/>PIC-A-TALK</span><a href="/classPage/'class_name'">
        <span style="float: right; padding-top: 15px; padding-right: 5px; font-size: 60%;">&lt; Back</span></a>
        </div>

<!--    <center>


#####Make sure the form has the autocomplete function switched off:
<form autocomplete="off" action="/action_page.php">
  <div class="autocomplete" style="width:300px;">
    <input id="myInput" type="text" placeholder="Enter fullname">

    <button type="button" class="btn btn-primary btn-lg" onclick="enroll_that_shit()">Save</button>
    <button type="button" class="btn btn-danger btn-lg" onclick="classpage()">Cancel</button><br><br>
    <button type="button" class="btn btn-success btn-lg" onclick="classpage()">Submit</button> 
  </div>
  
</form>

</center> -->
    <center>
        <div class="container" style="text-align: center; margin-top: 30vh;">
            <center><h1 id="class_belong"></h1></center>
            <form>
                <div class="autocomplete" style="width:300px;">
                    <input id="myInput" type="text" placeholder="Enter fullname">

                    </ul>

                    <br><br>
                    <button type="button" class="btn btn-primary btn-lg" onclick="enroll_that_shit()">Save</button>
                    <a type="button" class="btn btn-danger btn-lg" href="/classPage/'class_name'">Cancel</a><br><br>
                    <a type="button" class="btn btn-success btn-lg" href="/classPage/'class_name'">Submit</a>  

                </div>

            </form>
        </div>
    </center>

<script>

    var classname = localStorage.getItem('class_name');
    document.getElementById("class_belong").innerHTML = classname;
function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
      });
}
var countries = [];

    $(document).ready(function(){
        $.getJSON("https://mighty-badlands-16603.herokuapp.com/api/child/editprofile/<int:c_id>",function(data){
            $.each(data,function(key,value){
                

                countries.push(value.full_name);
                
            });
            
        });
    });

/*An array containing all the country names in the world:*/


/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
autocomplete(document.getElementById("myInput"), countries);
</script>


</body>
</html>


<script>
    function enroll_that_shit(){
        var search = document.getElementById('myInput').value;
        var class_name = localStorage.getItem('class_name');

       alert(search+" "+class_name)
            
        xhr = new XMLHttpRequest();
        var url = "https://mighty-badlands-16603.herokuapp.com/api/enroll_student="+search;
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-type", "application/json");
        xhr.onreadystatechange = function () { 
            if (xhr.readyState == 4 && xhr.status == 200) {
                var json = JSON.parse(xhr.responseText);
                alert("enrolled")
                console.log(json.message);
            }
        }
        var json =JSON.stringify({"class_name": class_name});
        console.log(json)
        xhr.send(json);


        
        location="class.html"  
        
       

    }


    $(document).ready(function(){
        $.getJSON("https://mighty-badlands-16603.herokuapp.coms/api/child/editprofile",function(data){
            var directory_data='';
            $.each(data,function(key,value){
                directory_data += '<ul>';
                
                //store
                val = value.fname_c+" "+value.lname_c;

                directory_data += '<li><a>'+value.full_name+'</a></li>';
                directory_data += '</ul>';
            });
            $('#myUL').append(directory_data);
        });
    });


</script>
<!-- <!DOCTYPE html>
<html>
<title>Communication Aid</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/student.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/W3.css') }}">


    
<style>
    body {font-family: "Times New Roman", Georgia, Serif;}

    h1,h2,h3,h4,h5,h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
        }

    input[type=text] {
      width: 550px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: whitesmoke;
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
      width: 95%;
        }
    .panel-footer {
        padding: 0px 250px;
        background-color: #f5f5f5;
        border-top: 1px solid #ddd;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }    

</style>

<body>

    <header>
        <center><h1>Student Info</h1></center>
    </header>

<!-- Page content -->
<!-- <div class="w3-content w3-display-container w3-content w3-wide" style="max-width:500px;min-width:500px">

    <form method = "post" action="/addstudents" id="target">
         <label>Child ID</label><p><input id="c_id" name="c_id" type="integer" value={{d}}/></p>
        <label>First Name</label><p><input id="fname_c" name="fname_c" placeholder="Enter first name" type="text"/></p>
        <label>Last Name</label><p><input id="lname_c" name="lname_c" placeholder="Enter last name" type="text"/></p>
            <div class="panel-footer">
                <span class="pull-left">
                     <input class="btn btn-primary" id="btn" value="add" name"add" type="submit" onclick="addstudent()"></input>
             </span>
             </div>
    </form>

</div>

<script type="text/javascript" src="static/js/jQuery-3.3.1.min.js"></script>
<script type="text/javascript" src="static/js/app.js"></script>

    <script>
        var tokens = localStorage.getItem('token');
        $(document).ready(function () {
            $('#target').submit(function () {
                var c_id = $("#c_id").val();
                var fname_c = $("#fname_c").val();
                var lname_c = $("#lname_c").val();

                $.ajax({
                    // url: 'http://127.0.0.1:5000/api/addstudents',
                    url: "https://mighty-badlands-16603.herokuapp.com/api/add_student",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        'c_id':$('#c_id').val(),
                        'fname_c':$('#fname_c').val(),
                        'lname_c':$('#lname_c').val(),
                    }),    
                    method: "POST",
                    dataType: "json",
                    crossDomain: true,
                    // headers: {
                    //  'x-access-token': tokens
                    // },
                    success: function () {
                        console.log("success");
                        alert("Enroll success!");
                        window.location.href='/students'
                    },
                    error: function () {
                        console.log('error')
                    },
                    complete: function (jqXHR) {
                        if (jqXHR.status == '401') {
                            console.log(jqXHR.status)
                        }
                    }
                })
            });
        })
    </script>
</body>
</html>
 --> -->