<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Classes{% endblock %}</title>


    <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='js/jquery.dataTables.min.js') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/student.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/edit.css') }}">


</head>

<body>
    <div class=" bgimg container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <div class="card">
                    <br><br><br><br><br><br><br>
                    <table class="table table-striped table-bordered table-hover" id="mytable">
                        <thead>
                            <tr>
                                <th style="text-align: center">Action</th>
                                <th style="text-align: center">Class Name</th>
                            </tr>
                        </thead>

                        <tbody>


                    <form method="post" action = "/addClass">
                        
                            {% for Class in manageclass %}

                    <tr>
                        <td>
                            <a class="btn btn-sm btn-danger confirmation" href="/deleteClass/{{ Class.class_num }}"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>  
                        <td style="cursor.pointer">
                            <a href="/classPage/{{ Class.class_name }}" style="text-align: center">{{ Class.class_name }}
                        </td>    
                            {% endfor %}
                    </form>
                    </tbody>

                    </table>
                    <br>
                    <br>                
                   <div class="col-md-6">
                        <a class="btn btn-primary pull-left" href="{{ url_for('addClass') }}">Add</a>
                    <div id="view_classname"></div>
                    </div> 
                </div>
            </div>
        </div>
    </div>

<!--     // <script src="../static/jquery-3.3.1.min.js"></script> -->
    
    <script type="text/javascript">
        var elems = document.getElementsByClassName('confirmation');
        var confirmIt = function (e) {
            if (!confirm('Are you sure?')) e.preventDefault();
        };
        for (var i = 0, l = elems.length; i < l; i++) {
            elems[i].addEventListener('click', confirmIt, false);
        }
    </script>


    <script type="text/javascript">
        $(document).ready( function () {
        $('#myTable').DataTable();
}       );
    </script>

//     <script>
//     var tokens = localStorage.getItem('token');
//         $(document).ready(
//         function viewClass(){
//             viewClass();
//             showRes();
//          })
//         function viewClass(){
//             $("#view_classname").show();
//         $.ajax({
//                   // url: 'https://mighty-badlands-16603.herokuapp.com/api/manageclass',
//                   url: 'http://127.0.0.1:5000/api/manageclass',
//                   type: "GET",
//                   dataType: "json",
//                   crossDomain: true,
//                    headers: {
//                         'x-access-token': tokens
//                             },
//                   success: function(resp) {
//                     if (resp.status  === 'ok') {
//                        for (i = 0; i < resp.count; i++) {
//                                       class_name = resp.entries[i].class_name;
//                                       $("#view_classname").append(showRes(class_name));
//                                                                 }
//                     } else {
//                         $("#view_classname").html("");
//                        alert('No Data')
//                             }
//                                             }
//               });
//                             }
//         function showRes(class_name)
//         {
//            return '<div class="widget-content">'+
//                     '<table class="table table-striped table-bordered" id="view_res">'+
//                         '<tbody><tr class="edit" id="details">'+
//                             '<td>'+ class_name +'</td>'+
//                         '</tr></tbody>' +
//                     '</table>' +
//                '</div>'
//         }
// </script>


</body>
</html>