{% extends "base.html" %}
{% block content %}
<html>
<head>
{{ super() }}
<title> Pic A Talk</title>

<style>
    * {
    box-sizing: border-box
  }



  #root {
    max-width: 1200px;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    color: white;
  }

  img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
    width:100%;
  }

  .card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
  }

  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }

  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }

  .card:nth-child(2n) h1 {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  }

  .card:nth-child(4n) h1 {
    background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
  }

  .card:nth-child(5n) h1 {
    background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
  }
</style>
  </head>
            <div class="content" style="background-color: #192838;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card" style="background-color: #d0d1d3;">
                                <div class="row" style="margin-top:15px;">
                                    <div class="col-md-2"></div>
                                    <div id="forum-parent" class="col-md-8">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div id="root" style="padding-top:5%;z-index:1;">
                                                        <div class="container" id="progs"></div>
                                                    </div> 
                                            <!-- <div class="card-body"></div> -->
                                        </div>



                                        <!-- Display Posts ends -->
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<!--   Core JS Files   -->
<script src="/static/assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/static/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="/static/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="/static/assets/js/plugins/bootstrap-switch.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!--  Chartist Plugin  -->
<script src="/static/assets/js/plugins/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="/static/assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="/static/assets/js/light-bootstrap-dashboard.js?v=2.0.1" type="text/javascript"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/demo.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>

<script>

    function logout(){
      localStorage.clear();
      window.location.href='/login';
    }
    function who(){
      
      location.href='/whoweare';
    }
    function p_prof(){
      var acc_id = localStorage.getItem("acc_id");
      location.href='/teacher/profile/'+acc_id;
    }

    function c_prof(){
      var acc_id = localStorage.getItem("acc_id");
      location.href='/child/profile/'+acc_id;
    }
    
    function childprog(clicked_id){
          var acc_id = localStorage.getItem("acc_id");
          location.href="/child/progress/"+acc_id;
        }

    function editnav(clicked_id){
          var acc_id = localStorage.getItem("acc_id");
          location.href="/edit_categories/"+acc_id;
        }        

    function classes(clicked_id){
          var acc_id = localStorage.getItem("acc_id");
          location.href="/classes/"+acc_id;
        } 

    function childprofile(clicked_id){
          var acc_id = localStorage.getItem("acc_id");
          location.href='/child/profile/'+acc_id;
          
        }

    function forum(clicked_id){
          var acc_id = localStorage.getItem("acc_id");
          location.href="/forum/"+acc_id;
        } 

    function parentprof(clicked_id){
          var acc_id = localStorage.getItem("acc_id");
          location.href="/parent/profile/"+acc_id;
        } 

    function dash(clicked_id){
          var acc_id = localStorage.getItem("acc_id");
          location.href = "/dashboard/teacher/"+acc_id;
        }

    function alphabets(clicked_id){
          var acc_id = localStorage.getItem("acc_id");
          location.href="/educational/alphabets/"+acc_id;
        }
        
    function numbers(clicked_id){
          var acc_id = localStorage.getItem("acc_id");
          location.href="/educational/numbers/"+acc_id;
        }        
    function shapes(clicked_id){
          var acc_id = localStorage.getItem("acc_id");
          location.href="/educational/shapes/"+acc_id;
        }
    function colors(clicked_id){
          var acc_id = localStorage.getItem("acc_id");
          location.href="/educational/colors/"+acc_id;
        }    
</script>

<script src="/static/js/jquery-3.3.1.min.js"></script>
<script>
var acc_type = localStorage.getItem("acc_type");
var acc_id = localStorage.getItem("acc_id");
if (acc_type == 2){
    $(document).ready(function(){
      var acc_id = localStorage.getItem('acc_id');
        $.getJSON("https://cryptic-fjord-60133.herokuapp.com/api/progress_view="+acc_id,function(data){
          var pictures='';
          $.each(data,function(key,value){
            

            pictures += '<div class="card" onclick="detail('+value.prog_num+')"> ';
            pictures+='<h1>'+value.prog_title+'</h1>'
            pictures+='</div>';

          });
          $('#progs').append(pictures);
        });
      });
}
else if(acc_type == 1) {
    var c_id = localStorage.getItem("acc_id");
  $(document).ready(function(){
      var acc_id = localStorage.getItem('acc_id');
        $.getJSON("https://cryptic-fjord-60133.herokuapp.com/api/progress_view/cid="+c_id,function(data){
          var pictures='';
          $.each(data,function(key,value){
            

            pictures += '<div class="card" onclick="detail('+value.prog_num+')"> ';
            pictures+='<h1>'+value.prog_title+'</h1>'
            pictures+='</div>';

          });
          $('#progs').append(pictures);
        });
      });
} 

function detail(prog_num){

    // var acc_type = localStorage.getItem("acc_type");
    var url  = "https://cryptic-fjord-60133.herokuapp.com/api/progress_view/"+prog_num;
    var xhr  = new XMLHttpRequest()
    xhr.open('GET', url, true)
    xhr.onreadystatechange = function () { 
        if (xhr.readyState == 4 && xhr.status == 200) {
            var value = JSON.parse(xhr.responseText);
            localStorage.setItem('childid', value.childid);
            localStorage.setItem('details', value.details);
            localStorage.setItem('prog_date', value.prog_date);
            localStorage.setItem('prog_num', value.prog_num);
            localStorage.setItem('prog_time', value.prog_time);
            localStorage.setItem('prog_title', value.prog_title);
            localStorage.setItem('score', value.score);
            localStorage.setItem('teacher', value.acc_id);
            var teacher = localStorage.getItem("teacher");
            // var c_id = localStorage.getItem("childid");
            // alert(c_id)
            // aboutc(c_id)
            get_tech(teacher);
            var tits = localStorage.getItem("prog_title");
            alert("Loading daetails about "+tits)
            window.location.href = '/activitylogs/report_details';
        }

    }
    xhr.send(null)

    
}

function get_tech(teacher){
    var url  = "https://cryptic-fjord-60133.herokuapp.com/api/teacher/"+teacher;
    var xhr  = new XMLHttpRequest()
    xhr.open('GET', url, true)
    xhr.onreadystatechange = function () { 
        if (xhr.readyState == 4 && xhr.status == 200) {
            var value = JSON.parse(xhr.responseText);
            var teacher_name = value.fname_t+" "+value.lname_t;
            localStorage.setItem('teacher_name', teacher_name);
            
            
        }

    }
    xhr.send(null)

}

// function aboutc(c_id){
//  var url  = "https://cryptic-fjord-60133.herokuapp.com/api/child/"+c_id;
//     var xhr  = new XMLHttpRequest()
//     xhr.open('GET', url, true)
//     xhr.onreadystatechange = function () { 
//         if (xhr.readyState == 4 && xhr.status == 200) {
//             var json = JSON.parse(xhr.responseText);
//             alert(json)
//             localStorage.setItem('fname', json.fname_c);
//             localStorage.setItem('lname', value.lname_c);
            
            
            
//          alert(json.fname)
//         }

//     }
//     xhr.send(null)
// }

</script>





<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>



</html>
{% endblock %}