{% extends "basecat.html" %}
{% block content %}
<html>
<head>

{{ super() }}
<title> Pic A Talk</title>
</head>
  <div class="container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="food">
    <div id="loadpics" class="row">
        
        <div class="col-md-6 col-lg-4">
        <img class="img-fluid mb-5 d-block mx-auto" src="/static/childgirl/blouse.png" style="width: 100%" onclick="onClick(this);document.getElementById('blouse_play').play(); return false;" alt="Blouse">
      </div>

      <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childgirl/dress.png" style="width:100%;" onclick="onClick(this);document.getElementById('dress_play').play(); return false;" alt="Dress">
   </div>

   <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childgirl/jeansg.png" style="width:100%;" onclick="onClick(this);document.getElementById('jeans_play').play(); return false;" alt="Jeans">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childgirl/pajamasg.png" style="width:100%;" onclick="onClick(this);document.getElementById('pajamas_play').play(); return false;" alt="Pajamas">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childgirl/sandalsg.png" style="width:100%;" onclick="onClick(this);document.getElementById('sandals_play').play(); return false;" alt="Sandals">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childgirl/slippers.png" style="width:100%;" onclick="onClick(this);document.getElementById('slippers_play').play(); return false;" alt="Slippers">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childgirl/sneakersg.png" style="width:100%;" onclick="onClick(this);document.getElementById('sneakers_play').play(); return false;" alt="Sneaker">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childgirl/swimsuit.png" style="width:100%;" onclick="onClick(this);document.getElementById('swimsuit_play').play(); return false;" alt="Swimsuit">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childgirl/tankg.png" style="width:100%;" onclick="onClick(this);document.getElementById('tanktop_play').play(); return false;" alt="Tank Top">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childgirl/sweater.jpg" style="width:100%;" onclick="onClick(this);document.getElementById('sweater_play').play(); return false;" alt="Sweater">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childgirl/shorts.jpg" style="width:100%;" onclick="onClick(this);document.getElementById('shorts_play').play(); return false;" alt="Shorts">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childgirl/skirt.jpg" style="width:100%;" onclick="onClick(this);document.getElementById('skirt_play').play(); return false;" alt="Skirt">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childgirl/panty.jpg" style="width:100%;" onclick="onClick(this);document.getElementById('panty_play').play(); return false;" alt="Panty">
    </div>
 
    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childgirl/blackshoes.png" style="width:100%;" onclick="onClick(this);document.getElementById('schoolshoes_play').play(); return  false;" alt="School Shoes">
   </div>

   

    <audio id="schoolshoes_play">
    <source src="/static/audio/schoolshoes.mp3" type="audio/ogg" />
    </audio>
    <audio id="jeans_play">
    <source src="/static/audio/jeans.mp3" type="audio/ogg" />
    </audio>
    <audio id="blouse_play">
    <source src="/static/audio/blouse.mp3" type="audio/ogg" />
    </audio>
    <audio id="dress_play">
    <source src="/static/audio/dress.mp3" type="audio/ogg" />
    </audio>
    <audio id="pajamas_play">
    <source src="/static/audio/pajamas.mp3" type="audio/ogg" />
    </audio>
    <audio id="tanktop_play">
    <source src="/static/audio/tanktop.mp3" type="audio/ogg" />
    </audio>
    <audio id="shorts_play">
    <source src="/static/audio/shorts.mp3" type="audio/ogg" />
    </audio>
    <audio id="skirt_play">
    <source src="/static/audio/skirt.mp3" type="audio/ogg" />
    </audio>
    <audio id="panty_play">
    <source src="/static/audio/panty.mp3" type="audio/ogg" />
    </audio>
    <audio id="sweater_play">
    <source src="/static/audio/sweater.mp3" type="audio/ogg" />
    </audio>
    <audio id="swimsuit_play">
    <source src="/static/audio/swimsuit.mp3" type="audio/ogg" />
    </audio>
    <audio id="sandals_play">
    <source src="/static/audio/sandals.mp3" type="audio/ogg" />
    </audio>
    <audio id="slippers_play">
    <source src="/static/audio/slippers.mp3" type="audio/ogg" />
    </audio>
    <audio id="sneakers_play">
    <source src="/static/audio/sneakers.mp3" type="audio/ogg" />
    </audio>


  </div>

</div>



<script src="/static/js/jquery-3.3.1.min.js"></script>
<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  var c_id = localStorage.getItem("c_id");
  var d_image = document.getElementById('caption').getAttribute("src");
  captionText.innerHTML = element.alt;

  var today = new Date();
  var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
  var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();

  xhr = new XMLHttpRequest();
    var url = "https://cryptic-fjord-60133.herokuapp.com/api/rec_logs";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-type", "application/json");
    xhr.onreadystatechange = function () { 
        if (xhr.readyState == 4 && xhr.status == 200) {
            var json = JSON.parse(xhr.responseText);
            console.log(xhr.responseText);
        }
    }

     var json =JSON.stringify({"clicks": "1",'c_id':c_id, "log_date":date, "log_time":time, "category_type":"Clothes", "image_name":element.alt});
    console.log(json)
    xhr.send(json);
}

function logout(){
    location = "login.html";
 }

  $(document).ready(function(){

  var acc_id = localStorage.getItem('acc_id');
    $.getJSON("https://cryptic-fjord-60133.herokuapp.com/api/v3/spec_categories/"+acc_id+"/Clothes-Girls",function(data){
      var pictures='';
      $.each(data,function(key,value){
        
        pictures += '<div class="col-md-6 col-lg-4"><img class="img-fluid mb-5 d-block mx-auto" src="'+value.img+'" style="width:100%; height: 84vh;" onclick="onClick(this); adiioplay(\''+value.aud+'\'); return false;" alt="'+value.image_name+'"></div>';

      });
      $('#loadpics').append(pictures);
    });
  });

function adiioplay(val){
  audio = new Audio(val);
  audio.play();
}


</script>
<script>
  var acc_id = localStorage.getItem('acc_id');
        function upload(){
          localStorage.setItem('Cat_type', "Clothes-Girls");
          location.href="/upload/"+acc_id;

        }
        function back(){
          location = "categories.html";
        }
</script>

</body>
</html>

{% endblock %}