{% extends "basecat.html" %}
{% block content %}
<html>
<head>

{{ super() }}
<title> Pic A Talk</title>
</head>

  <div class="container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="food">
    <div id="loadpics" class="row">
        
        <div class="col-md-6 col-lg-4">
        <img class="img-fluid mb-5 d-block mx-auto" src="/static/childboy/jeans.png" style="width:100%;" onclick="onClick(this);document.getElementById('jeans_play').play(); return false;" alt="Jeans">
      </div>

      <div class="col-md-6 col-lg-4">
        <img class="img-fluid mb-5 d-block mx-auto" src="/static/childboy/jumper.png" style="width:100%;" onclick="onClick(this);document.getElementById('jumper_play').play(); return false;" alt="Jumper">
   </div>

   <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childboy/jumpsuit.png" style="width:100%;" onclick="onClick(this);document.getElementById('jumpsuit_play').play(); return false;" alt="Jumpsuit">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childboy/pajamas.png" style="width:100%;" onclick="onClick(this);document.getElementById('pajamas_play').play(); return false;" alt="Pajamas">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childboy/polo.png" style="width:100%;" onclick="onClick(this);document.getElementById('polo_play').play(); return false;" alt="Polo">
    </div>

    <div class="col-md-6 col-lg-4">
     <img class="img-fluid mb-5 d-block mx-auto" src="/static/childboy/raincoat.png" style="width:100%;" onclick="onClick(this);document.getElementById('raincoat_play').play(); return false;" alt="Raincoat">
   </div>

   <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childboy/tanktop.png" style="width:100%;" onclick="onClick(this);document.getElementById('tanktop_play').play(); return false;" alt="Tanktop">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childboy/shirt.png" style="width:100%;" onclick="onClick(this);document.getElementById('shirt_play').play(); return false;" alt="Shirt">
    </div>

      <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childboy/shorts.png" style="width:100%;" onclick="onClick(this);document.getElementById('shorts_play').play(); return false;" alt="Shorts">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childboy/trunks.png" style="width:100%;" onclick="onClick(this);document.getElementById('trunks_play').play(); return false;" alt="Trunks">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childboy/brief.jpg" style="width:100%;" onclick="onClick(this);document.getElementById('brief_play').play(); return false;" alt="Brief">
    </div>

    <div class="col-md-6 col-lg-4">
       <img class="img-fluid mb-5 d-block mx-auto" src="/static/childboy/sweater.png" style="width:100%;" onclick="onClick(this);document.getElementById('sweater_play').play(); return false;" alt="Sweater">
     </div>

     <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childboy/sweatpants.png" style="width:100%;" onclick="onClick(this);document.getElementById('sweatpants_play').play(); return false;" alt="Sweatpants">
      </div>

      <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childboy/sandals.png" style="width:100%;" onclick="onClick(this);document.getElementById('sandals_play').play(); return false;" alt="Sandals">
   </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childboy/blackshoes.png" style="width:100%;" onclick="onClick(this);document.getElementById('schoolshoes_play').play(); return false;" alt="School Shoes">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childboy/slippers.png" style="width:100%;" onclick="onClick(this);document.getElementById('slippers_play').play(); return false;" alt="Slippers">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="/static/childboy/sneakers.png" style="width:100%;" onclick="onClick(this);document.getElementById('sneakers_play').play(); return false;" alt="Sneakers">
   </div>

    <div class="col-md-6 col-lg-4">
       <img class="img-fluid mb-5 d-block mx-auto" src="/static/childboy/tuxedo.png" style="width:100%;" onclick="onClick(this);document.getElementById('tuxedo_play').play(); return false;" alt="Tuxedo">
   </div>
   

 </div>
</div>
</div>

    <audio id="tuxedo_play">
    <source src="audio/tuxedo.mp3" type="audio/ogg" />
    </audio>
    <audio id="jeans_play">
    <source src="audio/jeans.mp3" type="audio/ogg" />
    </audio>
    <audio id="jumper_play">
    <source src="audio/jumper.mp3" type="audio/ogg" />
    </audio>
    <audio id="jumpsuit_play">
    <source src="audio/jumpsuit.mp3" type="audio/ogg" />
    </audio>
    <audio id="pajamas_play">
    <source src="audio/pajamas.mp3" type="audio/ogg" />
    </audio>
    <audio id="polo_play">
    <source src="audio/polo.mp3" type="audio/ogg" />
    </audio>
    <audio id="raincoat_play">
    <source src="audio/raincoat.mp3" type="audio/ogg" />
    </audio>
    <audio id="tanktop_play">
    <source src="audio/tanktop.mp3" type="audio/ogg" />
    </audio>
    <audio id="shirt_play">
    <source src="audio/shirt.mp3" type="audio/ogg" />
    </audio>
    <audio id="shorts_play">
    <source src="audio/shorts.mp3" type="audio/ogg" />
    </audio>
    <audio id="trunks_play">
    <source src="audio/trunks.mp3" type="audio/ogg" />
    </audio>
    <audio id="brief_play">
    <source src="audio/brief.mp3" type="audio/ogg" />
    </audio>
    <audio id="sweater_play">
    <source src="audio/sweater.mp3" type="audio/ogg" />
    </audio>
    <audio id="sweatpants_play">
    <source src="audio/sweatpants.mp3" type="audio/ogg" />
    </audio>
    <audio id="sandals_play">
    <source src="audio/sandals.mp3" type="audio/ogg" />
    </audio>
    <audio id="schoolshoes_play">
    <source src="audio/schoolshoes.mp3" type="audio/ogg" />
    </audio>
    <audio id="slippers_play">
    <source src="audio/slippers.mp3" type="audio/ogg" />
    </audio>
    <audio id="sneakers_play">
    <source src="audio/sneakers.mp3" type="audio/ogg" />
    </audio>


    <!--<div class="w3-quarter">-->
      <!--<img src= "{{ url_for('static', filename='image_name' ) }}">-->
      <!--</div>-->



  </div>

    <!--<center><<button type="submit" href="edit_food.html">Edit</button></center>-->


<!-- End page content -->
</div>

<!--<div id="upload-area">-->
  <!--<div id="preview">-->
    <!--<img width="100px" height="100px" src="/images/icons/128px/zurb.png" id="thumb">-->
  <!--</div>-->

  <!--<form action="/playground/ajax_upload" id="newHotnessForm">-->
    <!--<label>Upload a Picture of Yourself</label>-->
    <!--<input type="file" size="20" id="imageUpload" class=" ">-->
    <!--<button class="button" type="submit">Save</button>-->
  <!--</form>-->
<!--</div>-->

//Script for click counts
    <!--<script type="text/javascript">-->
            <!--function egg_clicks() {-->
                <!---->
                <!--egg++;-->
                <!--alert(egg);-->
                <!---->
            <!--}-->
            <!--function chicken_clicks() {-->
                <!--chicken++;-->
                <!--alert(chicken);-->
            <!--}-->

                <!--var egg = 0;-->
                <!--var chicken = 0;-->
            <!--}-->

    <!--</script>-->
// Script to open and close sidebar


<script src="/static/js/jquery-3.3.1.min.js"></script>
<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  var c_id = localStorage.getItem("c_id");
  var d_image = document.getElementById('caption').getAttribute("src");
  captionText.innerHTML = element.alt;

  var today = new Date();
  var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
  var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();

  xhr = new XMLHttpRequest();
    var url = "https://cryptic-fjord-60133.herokuapp.com/api/rec_logs";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-type", "application/json");
    xhr.onreadystatechange = function () { 
        if (xhr.readyState == 4 && xhr.status == 200) {
            var json = JSON.parse(xhr.responseText);
            console.log(xhr.responseText);
        }
    }
    var json =JSON.stringify({"clicks": "1",'c_id':c_id, "log_date":date, "log_time":time, "category_type":"Clothes", "image_name":element.alt});
    console.log(json)
    xhr.send(json);

}

function logout(){
    location = "login.html";
 }

 $(document).ready(function(){
  var acc_id = localStorage.getItem('acc_id');
    $.getJSON("https://cryptic-fjord-60133.herokuapp.com/api/v3/spec_categories/"+acc_id+"/Clothes-Boys",function(data){
      var pictures='';
      $.each(data,function(key,value){

        pictures += '<div class="col-md-6 col-lg-4"><img class="img-fluid mb-5 d-block mx-auto" src="'+value.img+'" style="width:100%; height: 84vh;" onclick="onClick(this); adiioplay(\''+value.aud+'\'); return false;" alt="'+value.image_name+'"></div>';

      });
      $('#loadpics').append(pictures);
    });
  });

function adiioplay(val){
  audio = new Audio(val);
  audio.play();
}

</script>
<script>
  var acc_id = localStorage.getItem('acc_id');
        function upload(){
          localStorage.setItem('Cat_type', "Clothes-Boys");
          location.href="/upload/"+acc_id;

        }
        function back(){
          location = "categories.html";
        }
</script>

</body>
</html>

{% endblock %}