<!DOCTYPE html>
<html>
<title>Food</title>

<head>
  <link rel="shortcut icon" href="/static/images/food.png" />
  <meta charset="UTF-8"><link rel="stylesheet" href="static/css/w3.css">
  <link rel="stylesheet" href="static/css/font.css">
  <link rel="stylesheet" href="static/css/font-awesome.css">
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap-grid.css">
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap-reboot.css">
  <script src="static/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="static/bootstrap/js/bootstrap.js"></script>
  <link rel="stylesheet" href="static/css/agency.min.css">

  <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css"> -->
  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    .w3-quarter img{margin-bottom: -6px; cursor: pointer}
    .w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
  </style>
</head>


<body class="w3-light-grey">


<div class="w3-top">
   <div class="w3-bar w3-large w3-teal w3-padding-8">
    <i class="fa fa-arrow-circle-left" style="font-size:48px; margin-left: 20px; margin-top: 25px; cursor: pointer;" onclick="dasher()"></i>
    <script>
          function dasher(){
          var acc_id = localStorage.getItem('acc_id');
          location.href = "/dashboard/parent/"+acc_id;
                     }
  </script>
     <a href = "/food"><img class="w3-center" id="food_icon" src="/static/images/food.png" style="margin-left: 20%; height: 100%; width: 7%; cursor: pointer;" alt="FOOD">
     </a>
     <a href = "/toys"><img class="w3-center" id="toys_icon" src="/static/images/toys.png" style="margin-left: 10%; height: 100%; width: 7%; cursor: pointer;" alt="TOYS">
     </a>
     <a href = "/places"><img class="w3-center" id="places_icon" src="/static/images/place.png" style="margin-left: 10%; height: 100%; width: 7%; cursor: pointer;" alt="PLACES">
     </a>
     <a><img class="w3-center" id="clothes_icon" src="/static/images/clothes.png" style="margin-left: 10%; height: 100%; width: 7%; cursor: pointer;" alt="CLOTHES">
     </a>
    </div>
</div>

<!-- <script>
        
        function back(){
          var acc_id = localStorage.getItem('acc_id');
          location.href = "/edit_categories/"+acc_id;
        }
</script> -->

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content" style="max-width:1600px;margin-top:83px">

  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright"></span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>



  <!-- FOOD -->
  <div class="container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="food">
    <div class="row" id="loadpics">
      <div class="col-md-6 col-lg-4">
        <img class="img-fluid mb-5 d-block mx-auto" src="static/images/upload1.png" style="width:100%" id="upload">
      </div>

      <div class="col-md-6 col-lg-4">
        <img class="img-fluid mb-5 d-block mx-auto" src="static/food/chicken.jpg" style="width:100%" id="chicken" alt="Fried Chicken">
      </div>

      <div class="col-md-6 col-lg-4">
        <img class="img-fluid mb-5 d-block mx-auto" src="static/food/marshmallow.jpg"  style="width:100%" id="marshmallow" alt="Marshmallow">
      </div>

      <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="static/food/hotdog.jpg" id="hotdog" style="width:100%"alt="Hotdog">
    </div>

      <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="static/food/burger.jpg" id="burger" style="width:100%" alt="Burger">
    </div>

      <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="static/food/lollipop.jpg" id="lollipop" style="width:100%" alt="Lollipop">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="static/food/pancakes.jpg" id="pancake" style="width:100%" alt="Pancakes">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="static/food/bbq.jpg" id="bbq" style="width:100%" alt="Burger">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="static/food/icecream.jpg" id="icecream" style="width:100%" alt="Burger">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="static/food/cookies.jpg" id="cookies" style="width:100%" alt="Cookies">
    </div>

    <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="static/food/fries.jpg" id="fries" style="width:100%" alt="French Fries">
    </div>

      <div class="col-md-6 col-lg-4">
      <img class="img-fluid mb-5 d-block mx-auto" src="static/food/halo.jpg" style="width:100%" id="halo" alt="Halo-halo">
    </div>

      <div class="col-md-6 col-lg-4">
        <img class="img-fluid mb-5 d-block mx-auto" src="static/food/eggs.jpg" style="width:100%" id="egg" alt="Eggs">
   </div>

   </div>
 </div>

   

    <audio id="egg_play">
    <source src="static/audio/egg.mp3"/>
    </audio>
    <audio id="chicken_play">
    <source src="static/audio/chicken.mp3"/>
    </audio>
    <audio id="marshmallow_play">
    <source src="static/audio/marshmallow.mp3"/>
    </audio>
    <audio id="hotdog_play">
    <source src="static/audio/hotdog.mp3"/>
    </audio>
    <audio id="burger_play">
    <source src="static/audio/burger.mp3"/>
    </audio>
    <audio id="lollipop_play">
    <source src="static/audio/lollipop.mp3"/>
    </audio>
    <audio id="pancake_play">
    <source src="static/audio/pancake.mp3"/>
    </audio>
    <audio id="bbq_play">
    <source src="static/audio/barbecue.mp3"/>
    </audio>
    <audio id="icecream_play">
    <source src="static/audio/ice_cream.mp3"/>
    </audio>
    <audio id="cookies_play">
    <source src="static/audio/cookies.mp3"/>
    </audio>
    <audio id="fries_play">
    <source src="static/audio/french_fries.mp3"/>
    </audio>
    <audio id="halo_play">
    <source src="static/audio/halo-halo.mp3"/>
    </audio>
    <audio id="audio_play">
    <source src="static/audio/audio1.mp3"/>
    </audio>


<!-- End page content -->
</div>


</body>

<script>

  $(document).ready(function(){

    function gender_bender(){
      var acc_id = localStorage.getItem('acc_id');
      var url  = "https://cryptic-fjord-60133.herokuapp.com/api/get_cprof/"+acc_id;
      var xhr  = new XMLHttpRequest()
          xhr.open('GET', url, true)
          xhr.onreadystatechange = function () { 
              if (xhr.readyState == 4 && xhr.status == 200) {
                  var value = JSON.parse(xhr.responseText);
                  var gender = value.gender;
              if(gender == ('M' || 'm')){
                  location.href = "/clothes_b";
                  }else{
                  location.href = "/clothes_g";
                  }  
              }
          }
          xhr.send(null)
    }

    function adiioplay(val){
      audio = new Audio(val);
      audio.play();
    }

    function onClick(){
      $("#img01").attr("src", this.getAttribute("src"));
      $("#modal01").css("display","block");

      var c_id = localStorage.getItem("c_id)");
      var d_image = $("#caption").attr("src");
      $("#caption").html(this.getAttribute("alt"));

      audio_ID = "#"+this.getAttribute("id")+"_play";
      $(audio_ID)[0].play();

      var today = new Date();
      var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
      var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();

      xhr = new XMLHttpRequest();
      var url = "https://cryptic-fjord-60133.herokuapp.com/api/rec_logs";
      xhr.open("POST", url, true);
      xhr.setRequestHeader("Content-type", "application/json");
      xhr.onreadystatechange = function () { 
          if (xhr.readyState == 4 && xhr.status == 200) {
              var json = JSON.parse(xhr.responseText);
              console.log(xhr.responseText);
          }
      }
      var json =JSON.stringify({"clicks": "1",'c_id':c_id, "log_date":date, "log_time":time, "category_type":"Food", "image_name":this.getAttribute("alt")});
      console.log(json)
      xhr.send(json);
    }

    function onClick2(element){
      $("#img01").attr("src", element.getAttribute("src"));
      $("#modal01").css("display","block");

      var c_id = localStorage.getItem("c_id)");
      var d_image = $("#caption").attr("src");
      $("#caption").html(element.getAttribute("alt"));

      var today = new Date();
      var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
      var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();

      xhr = new XMLHttpRequest();
      var url = "https://cryptic-fjord-60133.herokuapp.com/api/rec_logs";
      xhr.open("POST", url, true);
      xhr.setRequestHeader("Content-type", "application/json");
      xhr.onreadystatechange = function () { 
          if (xhr.readyState == 4 && xhr.status == 200) {
              var json = JSON.parse(xhr.responseText);
              console.log(xhr.responseText);
          }
      }
      var json =JSON.stringify({"clicks": "1",'c_id':c_id, "log_date":date, "log_time":time, "category_type":"Food", "image_name":element.getAttribute("alt")});
      console.log(json)
      xhr.send(json);
    }


    var acc_id = localStorage.getItem('acc_id');
    $.getJSON("https://cryptic-fjord-60133.herokuapp.com/api/v3/spec_categories/"+acc_id+"/Food",function(data){

      var pictures='';
      $.each(data,function(key,value){

        pictures += '<div class="col-md-6 col-lg-4">'+
                      '<img class="img-fluid mb-5 d-block mx-auto" src="'+value.img+'" style="width:100%; height: 84vh;" onclick="onClick2(this); adiioplay(\''+value.aud+'\'); return false;" alt="'+value.image_name+'">'+
                    '</div>';

      });
      $('#loadpics').append(pictures);
    });

        // modal image gallery
    $("#chicken").click(onClick);
    $("#marshmallow").click(onClick);
    $("#hotdog").click(onClick);
    $("#burger").click(onClick);
    $("#lollipop").click(onClick);
    $("#pancake").click(onClick);
    $("#bbq").click(onClick);
    $("#icecream").click(onClick);
    $("#cookies").click(onClick);
    $("#fries").click(onClick);
    $("#halo").click(onClick);
    $("#egg").click(onClick);

    $("#food_icon").click(onClick);
    $("#toys_icon").click(onClick);
    $("#places_icon").click(onClick);
    $("#clothes_icon").click(gender_bender);
    $("#clothes_icon").click(onClick);


    var acc_id = localStorage.getItem('acc_id');
    $("#upload").click(function(){
      localStorage.setItem('Cat_type', "Food");
      location.href="/upload/"+acc_id;
    });
    // function upload(){
    //   localStorage.setItem('Cat_type', "Food");
    //   location.href="/upload/"+acc_id;
    // }
    // function back(){
    //   location = "categories.html";
    // }
  });


// Modal Image Gallery
// function onClick(element) {
//   document.getElementById("img01").src = element.src;
//   document.getElementById("modal01").style.display = "block";
//   var captionText = document.getElementById("caption");
//   var c_id = localStorage.getItem("c_id");
//   var d_image = document.getElementById('caption').getAttribute("src");
//   captionText.innerHTML = element.alt;

//   var today = new Date();
//   var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
//   var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();

//   xhr = new XMLHttpRequest();
//     var url = "https://cryptic-fjord-60133.herokuapp.com/api/rec_logs";
//     xhr.open("POST", url, true);
//     xhr.setRequestHeader("Content-type", "application/json");
//     xhr.onreadystatechange = function () { 
//         if (xhr.readyState == 4 && xhr.status == 200) {
//             var json = JSON.parse(xhr.responseText);
//             console.log(xhr.responseText);
//         }
//     }
//     var json =JSON.stringify({"clicks": "1",'c_id':c_id, "log_date":date, "log_time":time, "category_type":"Food", "image_name":element.alt});
//     console.log(json)
//     xhr.send(json);
// }


//  function logout(){
//     location = "login.html"
//  }

</script>

</html>