<!DOCTYPE html>
<html>
<title>Food</title>
<meta charset="UTF-8">
<link rel="shortcut icon" href=".static/images/food.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut-icon" href="/static/images/food.png">
<link rel="stylesheet" href="/static/css/menubar.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-third img{margin: 1px; opacity: 0.8; cursor: pointer}
.w3-third img:hover{opacity: 1}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<!-- <nav class="w3-sidebar w3-bar-block w3-white w3-animate-left w3-text-grey w3-collapse w3-top w3-center" style="z-index:3;width:300px;font-weight:bold" id="mySidebar"><br>
  <h3 class="w3-padding-64 w3-center"><img src="PATicon.png">PIC-A-TALK</b></h3>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hide-large">CLOSE</a>
  <a href="mode.html" onclick="w3_close()" class="w3-bar-item w3-button">CHANGE MODE</a>
  <a href="categories.html" onclick="w3_close()" class="w3-bar-item w3-button">CATEGORIES</a> 
  <a href="#child" onclick="w3_close()" class="w3-bar-item w3-button">THE CHILD</a> 
  <a href="#parent" onclick="w3_close()" class="w3-bar-item w3-button">THE PARENT</a>
  <a href="#childactivity" onclick="w3_close()" class="w3-bar-item w3-button">CHILD ACTIVITY</a>
  <a href="login.html" onclick="w3_close()" class="w3-bar-item w3-button">LOGOUT</a>
</nav> -->

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-green w3-xlarge w3-padding-16" >
  <div class="w3-left w3-padding-16"><img src="/static/images/food.png" alt="logo" width="40px" height="auto"/>FOOD</div>
      <a onclick="back()">
          <span style="float: right; padding-top: 18px; padding-right: 5px; font-size: 80%;">Back</span>
      </a>
  </div>
</header>
  <script>
        function upload(){
          localStorage.setItem('Cat_type', "Food");
          location="upload_trial.html";

        }
        function back(){
          location = "categories.html";
        }
      </script>
</header>
<div  class="w3-container w3-top w3-hide-large w3-gray w3-xlarge w3-padding-12" style="margin-top: 100px;">
<button onclick="upload()" type="button" class="w3-button w3-blue" style="height: 40px; width: 80px; font-size: 15px; margin-left: 150px;">Upload</button>
  <a onclick="back()">
  </a></div>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Push down content on small screens --> 
  <div class="w3-hide-large" style="margin-top:150px;"></div>
  
  <!-- Photo grid -->
  <div class="w3-row">
    <div class="w3-third">
      <img src="/static/food/sandwich.jpg" style="width:32%" onclick="onClick(this);document.getElementById('sandwich_play').play(); return false;" alt="Sandwich">
      <img src="/static/food/chicken.jpg" style="width:32%" onclick="onClick(this);document.getElementById('chicken_play').play(); return false;" alt="Fried Chicken">
      <img src="/static/food/hotdog.jpg" style="width:32%" onclick="onClick(this);document.getElementById('hotdog_play').play(); return false;" alt="Hotdog">
    </div>

    <div class="w3-third">
      <img src="/static/food/pancakes.jpg" style="width:32%" onclick="onClick(this);document.getElementById('pancakes_play').play(); return false;" alt="Pancakes">
      <img src="/static/food/chocolate.jpg" style="width:32%" onclick="onClick(this);document.getElementById('chocolate_play').play(); return false;" alt="Chocolates">
      <img src="/static/food/cookies.jpg" style="width:32%" onclick="onClick(this);document.getElementById('cookies_play').play(); return false;" alt="Cookies">
    </div>
    
    <div class="w3-third">
      <img src="/static/food/marshmallow.jpg" style="width:32%" onclick="onClick(this);document.getElementById('marshmallow_play').play(); return false;" alt="Marshmallow">
      <img src="/static/food/halo.jpg" style="width:32%" onclick="onClick(this);document.getElementById('halo_play').play(); return false;" alt="Halo-Halo">
      <img src="/static/food/burger.jpg" style="width:32%" onclick="onClick(this);document.getElementById('burger_play').play(); return false;" alt="Burger">
    </div>
    <div id="loadpics" class="w3-third">
    
  </div>
  
  </div>

  <!-- Pagination -->
<!--   <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div> -->
  
  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright"></span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>

  <!-- About section -->
  
   
    <!-- <div class="w3-content w3-justify" style="max-width:600px">
      <h4>My Name</h4>
      <p>
      </p>
      <p>mail: example@example.com</p>
      <p>tel: 5353 35531</p> -->
      <!-- <hr class="w3-opacity">
      <h4 class="w3-padding-16">Technical Skills</h4>
      <p class="w3-wide">Photography</p>
      <div class="w3-white">
        <div class="w3-container w3-padding-small w3-center w3-grey" style="width:95%">95%</div>
      </div>
      <p class="w3-wide">Web Design</p>
      <div class="w3-white">
        <div class="w3-container w3-padding-small w3-center w3-grey" style="width:85%">85%</div>
      </div>
      <p class="w3-wide">Photoshop</p>
      <div class="w3-white">
        <div class="w3-container w3-padding-small w3-center w3-grey" style="width:80%">80%</div>
      </div>
      <p><button class="w3-button w3-light-grey w3-padding-large w3-margin-top w3-margin-bottom">Download Resume</button></p>
      <hr class="w3-opacity">

      <h4 class="w3-padding-16">How much I charge</h4>
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
            <li class="w3-black w3-xlarge w3-padding-32">Basic</li>
            <li class="w3-padding-16">Web Design</li>
            <li class="w3-padding-16">Photography</li>
            <li class="w3-padding-16">5GB Storage</li>
            <li class="w3-padding-16">Mail Support</li>
            <li class="w3-padding-16">
              <h2>$ 10</h2>
              <span class="w3-opacity">per month</span>
            </li>
            <li class="w3-light-grey w3-padding-24"> -->
              <!-- <button class="w3-button w3-white w3-padding-large" onclick="logout()">Logout</button>
            </li>
          </ul>
        </div> -->
        
        <!-- <div class="w3-half">
          <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
            <li class="w3-black w3-xlarge w3-padding-32">Pro</li>
            <li class="w3-padding-16">Web Design</li>
            <li class="w3-padding-16">Photography</li>
            <li class="w3-padding-16">50GB Storage</li>
            <li class="w3-padding-16">Endless Support</li>
            <li class="w3-padding-16">
              <h2>$ 25</h2>
              <span class="w3-opacity">per month</span>
            </li>
            <li class="w3-light-grey w3-padding-24">
              <button class="w3-button w3-white w3-padding-large">Sign Up</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Contact section -->
  <!-- <div class="w3-container w3-light-grey w3-padding-32 w3-padding-large" id="contact">
    <div class="w3-content" style="max-width:600px">
      <h4 class="w3-center"><b>Contact Me</b></h4>
      <p>Do you want me to photograph you? Fill out the form and fill me in with the details :) I love meeting new people!</p>
      <form action="/action_page.php" target="_blank">
        <div class="w3-section">
          <label>Name</label>
          <input class="w3-input w3-border" type="text" name="Name" required>
        </div>
        <div class="w3-section">
          <label>Email</label>
          <input class="w3-input w3-border" type="text" name="Email" required>
        </div>
        <div class="w3-section">
          <label>Message</label>
          <input class="w3-input w3-border" type="text" name="Message" required>
        </div>
        <button type="submit" class="w3-button w3-block w3-black w3-margin-bottom">Send Message</button>
      </form>
    </div>
  </div> -->

  <!-- Footer -->
  <!-- <footer class="w3-container w3-padding-32 w3-grey">  
    <div class="w3-row-padding">
      <div class="w3-third">
        <h3>INFO</h3>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>      
      </div>
    
      <div class="w3-third">
        <h3>BLOG POSTS</h3>
        <ul class="w3-ul">
          <li class="w3-padding-16 w3-hover-black">
            <img src="/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Lorem</span><br>
            <span>Sed mattis nunc</span>
          </li>
          <li class="w3-padding-16 w3-hover-black">
            <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Ipsum</span><br>
            <span>Praes tinci sed</span>
          </li> 
        </ul>
      </div> -->


    <!-- audio -->
    
    <audio id="sandwich_play">
    <source src="/static/audio/sandwich.mp3" type="audio/ogg" />
    </audio>
    <audio id="chicken_play">
    <source src="/static/audio/chicken.mp3" type="audio/ogg" />
    </audio>
    <audio id="hotdog_play">
    <source src="/static/audio/hotdog.mp3" type="audio/ogg" />
    </audio>
    <audio id="pancakes_play">
    <source src="/static/audio/pancakes.mp3" type="audio/ogg" />
    </audio>
    <audio id="chocolate_play">
    <source src="/static/audio/chocolate.mp3" type="audio/ogg" />
    </audio>
    <audio id="cookies_play">
    <source src="/static/audio/cookies.mp3" type="audio/ogg" />
    </audio>
    <audio id="marshmallow_play">
    <source src="/static/audio/marshmallow.mp3" type="audio/ogg" />
    </audio>
    <audio id="lollipop_play">
    <source src="/static/audio/lollipop.mp3" type="audio/ogg" />
    </audio>
    <audio id="halo_play">
    <source src="/static/audio/halo-halo.mp3" type="audio/ogg">
    </audio>
    <audio id="icecream_play">
    <source src="/static/audio/ice_cream.mp3" type="audio/ogg">  
    </audio>
    <audio id="eggs_play">
    <source src="/static/audio/eggs.mp3" type="audio/ogg">
    </audio>
    <audio id="fries_play">
    <source src="/static/audio/fries.mp3" type="audio/ogg">  
    </audio>
    <audio id="burger_play">
    <source src="/static/audio/burger.mp3" type="audio/ogg">
    </audio>


<!-- End page content -->
</div>
<script src="js/jquery-3.3.1.min.js"></script>
<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  var c_id = localStorage.getItem("c_id");
  var d_image = document.getElementById('caption').getAttribute("src");
  captionText.innerHTML = element.alt;

  var today = new Date();
  var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
  var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();

  xhr = new XMLHttpRequest();
    var url = "https://cryptic-fjord-60133.herokuapp.com/api/rec_logs";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-type", "application/json");
    xhr.onreadystatechange = function () { 
        if (xhr.readyState == 4 && xhr.status == 200) {
            var json = JSON.parse(xhr.responseText);
            console.log(xhr.responseText);
        }
    }
    var json =JSON.stringify({"clicks": "1",'c_id':c_id, "log_date":date, "log_time":time, "category_type":"Food", "image_name":element.alt});
    console.log(json)
    xhr.send(json);


    
    

    

}



$(document).ready(function(){
    var acc_id = localStorage.getItem('acc_id');
    $.getJSON("https://cryptic-fjord-60133.herokuapp.com/api/v3/spec_categories/"+acc_id+"/Food",function(data){

      var pictures='';
      $.each(data,function(key,value){

        pictures += '<img src="'+value.img+'" style="width:32%" onclick="onClick(this); adiioplay(\''+value.aud+'\'); return false;" alt="'+value.image_name+'">';

      });
      $('#loadpics').append(pictures);
    });
  });

function adiioplay(val){
  audio = new Audio(val);
  audio.play();
}



 function logout(){
    location = "login.html"
 }
</script>


</body>
</html>
