<!DOCTYPE html><html class=''>

<head>
<meta charset="UTF-8">
<title>Mode</title>
<link rel="shortcut icon" url="static/images/PATicon.png" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="/static/css/w3.css"> -->
<link rel="stylesheet" href="/static/css/font.css">
<link rel="stylesheet" href="/static/css/font-awesome.css">
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-grid.css">
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-reboot.css">
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.bundle.js"></script>
<link rel="stylesheet" href="/static/css/agency.min.css">
<link href="/static/css/style.css" rel='stylesheet' type='text/css' media="all">
<link href="/static/css/mode.css" rel='stylesheet' type='text/css' media="all">
</head>

<body>

  <img class="w3-center" src="/static/images/PATicon1.png" style="height: 20%; width: 40%; margin-left: 30%;">
  <div class="container" style="margin-left: 15%; margin-top: 8%;">
    <div class="row" style="margin-left: 20%;">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 box blue" style="border-radius: 50px 50px 50px 50px; border: none; cursor: pointer;" id="pmode">
        <p style="font-family: 'Nunito', sans-serif; font-weight: 600;">Parent Mode</p>
      </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 box blue" style="border-radius: 50px 50px 50px 50px; margin-left: 150px; border: none; cursor: pointer;" id="cmode">
        <p style="font-family: 'Nunito', sans-serif; font-weight: 600;">Child Mode</p>
        </div>
    </div>
  </div>

<script type="text/javascript">
        var token = localStorage.getItem('token');
    if (token == null){
        location.href = "/";

    }
    else if (token == ''){
        location.href = "/";
    }
  
    var acc_id = localStorage.getItem('acc_id', acc_id);
    document.getElementById("cmode").onclick = function () {
        
        xhr = new XMLHttpRequest();
        var url = "https://cryptic-fjord-60133.herokuapp.com/api/get_cprof/"+acc_id;
        xhr.open("GET", url, true);
        xhr.setRequestHeader("Content-type", "application/json");
        xhr.onreadystatechange = function () {
          if (xhr.readyState == 4 && xhr.status == 200) {
            var json = JSON.parse(xhr.responseText);
            localStorage.setItem('c_id',json.c_id);
            location.href = "/dashboard/child/"+acc_id;
          }
        }
        xhr.send(null);
    };
    document.getElementById("pmode").onclick = function () {
        
        xhr = new XMLHttpRequest();
        var url = "https://cryptic-fjord-60133.herokuapp.com/api/parent/"+acc_id;
        xhr.open("GET", url, true);
        xhr.setRequestHeader("Content-type", "application/json");
        xhr.onreadystatechange = function () {
          if (xhr.readyState == 4 && xhr.status == 200) {
            var json = JSON.parse(xhr.responseText);
            localStorage.setItem('p_id',json.p_id);
            location.href = "/dashboard/parent/"+acc_id;
          }
        }
        xhr.send(null);
      };

        var acc_id = localStorage.getItem('acc_id');
        var token = localStorage.getItem('token');
        xhr = new XMLHttpRequest();
        var url = "https://cryptic-fjord-60133.herokuapp.com/api/checker/"+acc_id+"/"+token;
        xhr.open("GET", url, true);
        xhr.setRequestHeader("Content-type", "application/json");
        xhr.onreadystatechange = function () {
          if (xhr.readyState == 4 && xhr.status == 200) {
            var json = JSON.parse(xhr.responseText);
            if (json.token !=token){
                    alert(json.token);
                    alert(token);
                    location.href = "/";
                }
                else{
                    alert("token")
                }
          }
        }
        xhr.send(null);
</script>
</body></html>